extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.habitaciones
        section.habitaciones__hero
            img(src="/images/home/hero.jpg")

        section.habitaciones__content
            .container
                .row
                    .col-24
                        h2.habitaciones__content__title habitaciones
                        .habitaciones__content__group
                            .habitaciones__content__container
                                .habitaciones__content__image
                                    img(src="/images/habitaciones/habitacion-1.jpg")
                                .habitaciones__content__wrapper
                                    h3.habitaciones__content__wrapper-title habitacion 1
                                    p.habitaciones__content__wrapper-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    a.habitaciones__content__button.habitaciones__content__button--detalles(href="/habitacion") ver detalles
                                        i.fa.fa-play
                                    a.habitaciones__content__button.habitaciones__content__button--contacto(href="/contacto") contactar
                                        i.fa.fa-play
                            .habitaciones__content__container
                                .habitaciones__content__image
                                    img(src="/images/habitaciones/habitacion-2.jpg")
                                .habitaciones__content__wrapper
                                    h3.habitaciones__content__wrapper-title habitacion 2
                                    p.habitaciones__content__wrapper-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    a.habitaciones__content__button.habitaciones__content__button--detalles(href="/habitacion") ver detalles
                                        i.fa.fa-play
                                    a.habitaciones__content__button.habitaciones__content__button--contacto(href="/contacto") contactar
                                        i.fa.fa-play
                            .habitaciones__content__container
                                .habitaciones__content__image
                                    img(src="/images/habitaciones/habitacion-3.jpg")
                                .habitaciones__content__wrapper
                                    h3.habitaciones__content__wrapper-title habitacion 3
                                    p.habitaciones__content__wrapper-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    a.habitaciones__content__button.habitaciones__content__button--detalles(href="/habitacion") ver detalles
                                        i.fa.fa-play
                                    a.habitaciones__content__button.habitaciones__content__button--contacto(href="/contacto") contactar
                                        i.fa.fa-play
                            .habitaciones__content__container
                                .habitaciones__content__image
                                    img(src="/images/habitaciones/habitacion-2.jpg")
                                .habitaciones__content__wrapper
                                    h3.habitaciones__content__wrapper-title habitacion 4
                                    p.habitaciones__content__wrapper-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    a.habitaciones__content__button.habitaciones__content__button--detalles(href="/habitacion") ver detalles
                                        i.fa.fa-play
                                    a.habitaciones__content__button.habitaciones__content__button--contacto(href="/contacto") contactar
                                        i.fa.fa-play