.home {
    overflow: hidden;
    padding-top: calc(10vh + 20px);

    @include mq(md) {
        padding-top: 0;
    }

    &__hero {
        position: relative;
        height: 60vh;
        border-bottom: 15px solid $blueGreen;
        overflow: hidden;
        
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);    
        }
    }

    &__about {
        padding-top: 80px;
        
        &__image {
            position: relative;
            overflow: hidden;
            height: 0;
            padding-bottom: 56.5%;
            margin-bottom: 40px;

            @include mq(md) {
                margin-bottom: 0;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);    
            }
        }

        &__title {
            color: $blue;
            padding: 10px 0 20px 0;
            margin: 0;
        }

        &__text {
            margin: 0;
            color: $darkGray;
        }
    }


    &__habitaciones {
        padding: 80px 0 40px 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background: $lightGray;
            top: 15%;

            @include mq(md) {
                top: 40%;

            }
        }

        &__container {
            margin-bottom: 40px;

            @include mq(md) {
                margin-bottom: 0;
            }
        }

        &__title {
            color: $blue;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
            margin-bottom: 40px;
        }

        &__image {
            height: 0;
            padding-bottom: 56.5%;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);                
                max-height: 100%;
                max-width: 100%;
            }
        }

        &__content {
            padding: 20px 10px 40px 10px;
            background: $white;
        }

        &__content-title {
            text-align: center;
            color: $darkGray;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 20px;
        }

        &__content-text  {
            color: $darkGray;
            margin: 0;
            margin-bottom: 40px;
        }

        &__button {
            display: block;
            text-decoration: none;
            color: $blueGreen;
            font-weight: 600;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            padding-bottom: 10px;
            border-bottom: 1px solid $darkGray;
            text-align: center;

            i {
                margin-left: 10px;
                color: $blueGreen;
                font-size: 14px;
            }
        }
    }

    &__servicios {
        padding-top: 80px;

        &__title {
            color: $blue;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
            margin-bottom: 80px;        
        }

        &__container {
            background: url('/images/home/hero.jpg') no-repeat center center / cover;
            position: relative;
            padding: 80px 0;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: $blue;
                mix-blend-mode: multiply;
            }
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__icon {
            position: relative;
            z-index: 2;
            width: 10%;
            padding-bottom: 0;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__galeria {
        padding-top: 80px;

        &__title {
            color: $blue;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
            margin-bottom: 40px;            
        }
        
        .slick-slide {
            
            @include mq(md) {
                margin: 0 30px;
            }
        }

        .slick-dots {
            display: none !important;
        }

        &__slide {
            height: 0;
            overflow: hidden;
            position: relative;
            padding-bottom: 56.5%;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);                
            }
        }
    }

    &__comentarios {
        padding: 80px 0;
        
        &__title {
            color: $blue;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
            margin-bottom: 80px;        
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mq(md) {
                flex-direction: row;
                justify-content: space-between;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                flex-wrap: nowrap;

            }
        }

        &__avatar {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;

            @include mq(md) {
                width: 30%;
                margin-bottom: 0;
            }

            p {
                border-radius: 50%;
                background: $blueGreen;
                color: $white;
                font-size: 50px;
                margin: 0;
                font-weight: 700;
                height: 120px;
                width: 120px;
                text-align: center;
                line-height: 120px;
            }
        }

        &__content {
            width: 80%;

            @include mq(md) {
                width: 65%;
            }
        }

        
        &__comment {
            margin: 0;
            font-size: 18px;
            position: relative;
            color: $darkestGray;
            margin-bottom: 20px;

            @include mq(md) {
                margin-bottom: 40px;
            }

            i {
                color: $darkestGray;
            }

            .fa-quote-left {
                position: absolute;
                top: 0;
                left: -22px;
            }
        }

        &__name {
            margin: 0;
            color: $darkestGray;
            font-size: 18px;
            margin-bottom: 10px;
        }

        &__country {
            position: relative;
            padding-left: 30px;
            height: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin-bottom: 20px;
                        
            @include mq(md) {
                margin-bottom: 40px;
            }
            
            p {
                color: $darkestGray;
                font-weight: 700;
                margin: 0;    
            }

            img {
                position: absolute;
                left: 0;
                height: 100%;
                width: auto;
            }

        }

        &__button {
            text-decoration: none;
            color: $blueGreen;
            font-size: 18px;
            font-weight: 700;

            i {
                color: $blueGreen;
                margin-left: 10px;
                font-size: 12px;
            }

        }
    }
}

.-separator {
    height: 1px;
    width: 100%;
    border-top: 1px dashed $black;
    margin-top: 80px;
}