.ushuaia {
    overflow: hidden;
    padding-top: calc(10vh + 20px);

    @include mq(md) {
        padding-top: 0;
    }

    &__hero {
        height: 60vh;
        border-bottom: 15px solid $blueGreen;
        
        &__slider {
            
        }
        .slick-arrow {
            display: none !important;
        }
        
        .slick-dots {
            display: none;
            bottom: -60px;
            
            @include mq(md) {
                display: block;
            }

            li {
                button {
                    &:before {
                        color: $darkGray;
                        font-size: 12px;
                    }
                }
            }
        }
        
        &__slide {
            overflow: hidden;
            position: relative;
            height: calc(60vh - 15px);
            overflow: hidden;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);    
            }
        }
    }

    &__datos-de-interes {
        padding: 80px 0;

        &__container {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px dashed $darkestGray;
        }

        &__title {
            color: $blue;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
            margin-top: 20px;
            margin-bottom: 80px;
        }

        &__subtitle {
            color: $blue;
            text-transform: uppercase;
            text-align: center;
            font-weight: 500;
            margin: 0;
        }
        &__list {
            list-style: disc;
            display: flex;
            flex-wrap: wrap;
            margin-top: 40px;
        }

        &__item-container {
            margin-bottom: 20px;
            
            @include mq(md) {
                width: 50%;
            }
            
            &:nth-child(odd) {
                padding-left: 20px;
                @include mq(md) {
                    padding-left: 150px;
                    padding-right: 100px
                }
            }

            &:nth-child(even) {
                padding-left: 20px;

                @include mq(md) {
                    padding-right: 150px;
                    padding-left: 100px
                }
            }
        }
    }

    &__actividades {
        padding-bottom: 20px;
        position: relative;
        
        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background: $lightGray;
            top: 15%;

            @include mq(md) {
                top: 40%;

            }
        }

        &__container {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px dashed $darkestGray;
            margin-bottom: 80px;
        }

        &__title {
            color: $blue;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
        }   
        
        &__actividad-container {
            margin-bottom: 40px;
        }

        &__actividad-image {
            height: 0;
            overflow: hidden;
            padding-bottom: 56.5%;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                max-width: 100%;
                max-height: 100%;

            }
        }

        &__actividad-content {
            background: $white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 120px;
        }

        &__actividad-title {
            color: $blue;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 10px;    
        }

        &__stars-container {

            i {
                font-size: 20px;
                margin-right: 2px;
                color: $lightGray;
                
                &.-yellow {
                    color: $gold;
                }
            }
        }
    }

    &__season {
        padding: 80px 0;

        &__container {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px dashed $darkestGray;
            margin-bottom: 40px;
        }

        &__title {
            color: $blue;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
            font-weight: 500;
        }

        &__table {
            margin-left: auto;
            margin-right: auto;
            
            @include mq(md) {
                width: 60%;
            }
        }

        &__table-row {
            height: 20px;
            display: flex;
            
            &:not(:last-child) {
                border-bottom: 1px solid $black;
            }
        }
        
        &__table-cell {
            line-height: 20px;
            text-align: center;
            color: $darkGray;
            font-size: 12px;

            @include mq(md) {
                font-size: 14px;
            }

            &--month {
                width: 35%; 

                @include mq(md) {
                    width: 55%; 
                }

                text-align: left;
                padding-left: 5px;
            }

            &--popularity {
                width: 25%;

                @include mq(md) {
                    width: 15%;
                }

                i {
                    color: $lightGray;

                    &.-dark {
                        color: $darkGray;
                    }
                }
            }

            &--temperature {
                width: 25%;

                @include mq(md) {
                    width: 30%;
                }
            }

            &--rain {
                width: 15%;

                @include mq(md) {
                    width: 10%;
                }
            }

            p {
                margin: 0;
            }

            h3 {
                margin: 0;
                text-transform: capitalize;
                font-size: 12px;
            }
        }
    }
}