extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.galeria
        section.galeria__hero
            img(src="/images/home/hero.jpg")
        section.galeria__images
            .container
                .row
                    .col-24
                        h2.galeria__images__title galeria
                    .col-24.col-md-8
                        .galeria__images__image
                            img(src="/images/galeria/galeria-1.jpg")
                    .col-24.col-md-8
                        .galeria__images__image
                            img(src="/images/galeria/galeria-2.jpg")
                    .col-24.col-md-8
                        .galeria__images__image
                            img(src="/images/galeria/galeria-3.jpg")
                    .col-24.col-md-8
                        .galeria__images__image
                            img(src="/images/galeria/galeria-4.jpg")
                    .col-24.col-md-8
                        .galeria__images__image
                            img(src="/images/galeria/galeria-5.jpg")
                    .col-24.col-md-8
                        .galeria__images__image
                            img(src="/images/galeria/galeria-6.jpg")
                    .col-24.col-md-8
                        .galeria__images__image
                            img(src="/images/galeria/galeria-7.jpg")
                    .col-24.col-md-8
                        .galeria__images__image
                            img(src="/images/galeria/galeria-8.jpg")
                    .col-24.col-md-8
                        .galeria__images__image
                            img(src="/images/galeria/galeria-9.jpg")


