header.header
    .container
        .row
            .col-24 
                .header__container
                    .header__wrapper
                        a.header__logo(href="/")
                            img(src="/images/logo.png")
                        .header__weather
                            p.header__city ushuaia
                            .header__temperature
                                img(src="/images/")
                    nav.header__nav
                        ul.header__list
                            li.header__item
                                a(href="/home") home
                            li.header__item
                                a(href="/comentarios") comentarios
                            li.header__item
                                a(href="/galeria") galería
                            li.header__item
                                a(href="/contacto") contacto
                            li.header__item
                                a(href="/servicios") servicios
                            li.header__item
                                a(href="/habitaciones") habitaciones

