extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.servicios
        section.servicios__hero
            img(src="/images/home/hero.jpg")

        section.servicios__content
            .container
                .row
                    .col-24
                        h2.servicios__content__title servicios
                    .col-24.col-md-12
                        .servicios__content__container
                            .servicios__content__icon
                                img(src="/images/home/icon-wifi.png")
                            h3.servicios__content__container-title wifi gratis
                            p.servicios__content__container-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .col-24.col-md-12
                        .servicios__content__container
                            .servicios__content__icon
                                img(src="/images/home/icon-bed.png")
                            h3.servicios__content__container-title habitaciones familiares
                            p.servicios__content__container-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .col-24.col-md-12
                        .servicios__content__container
                            .servicios__content__icon
                                img(src="/images/home/icon-recepcion.png")
                            h3.servicios__content__container-title servicio a la habitación
                            p.servicios__content__container-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .col-24.col-md-12
                        .servicios__content__container
                            .servicios__content__icon
                                img(src="/images/home/icon-phone.png")
                            h3.servicios__content__container-title recepción 24 horas
                            p.servicios__content__container-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .col-24.col-md-12
                        .servicios__content__container
                            .servicios__content__icon
                                img(src="/images/home/icon-gym.png")
                            h3.servicios__content__container-title gimnasio
                            p.servicios__content__container-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .col-24.col-md-12
                        .servicios__content__container
                            .servicios__content__icon
                                img(src="/images/home/icon-coffee.png")
                            h3.servicios__content__container-title bar
                            p.servicios__content__container-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .col-24.col-md-12.offset-md-6
                        .servicios__content__container
                            .servicios__content__icon
                                img(src="/images/home/icon-calefaccion.png")
                            h3.servicios__content__container-title calefacción
                            p.servicios__content__container-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.